/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: beige;
}
body {

    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 120%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: white;
}
a:focus, a:hover {
    font-style: italic;
}
/* the styles for the main content */
main {
    clear: left;
}
/* the styles for the section */
section {
    width: 525px;
    float: right;
    padding: 0 20px 20px 20px;
}

h1 {
    font-size: 150%;
    padding: .5em 0 .25em 0;
    margin: 0;               /* If you remove this, the margins in normalize.css will be applied. */
}

/* the styles for the article */
article {
    padding: .5em 0;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;

}
article img {
    float: right;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
}

/* the styles for the aside */
aside {
    width: 215px;
    float: right;
    padding: 0 0 20px 20px;
}
aside h2 {
    color: red;
    font-size: 200%;
    padding: .5em 0 .25em 0;

}
aside img {
    padding-bottom: 1em;
}

/* the styles for the footer */
footer {
    background-color: #931420;
    clear: both;

}
footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}
